<form [formGroup]="productForm" (ngSubmit)="submitForm(product)">
  <p>Fields with * are required</p>
  <div class="card flex flex-column">

    <div class="flex flex-column gap-2">
      <label for="product-name">Name: *</label>
      <input pInputText required id="product-name" type="text" formControlName="name" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="product-description">Description: </label>
      <textarea pInputTextarea id="product-description" formControlName="description"></textarea>
    </div>

    <div class="flex flex-column gap-2">
      <label for="product-image">URL image: </label>
      <input pInputText id="product-image" type="text" formControlName="image" />
    </div>

    <div class="flex flex-column gap-2">
      <label for="product-price">Price: *</label>
      <p-inputNumber formControlName="price" inputId="product-price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
      <!-- <input id="product-price" type="number" formControlName="price" /> -->
    </div>

    <div class="flex flex-column gap-2">
      <label for="product-category">Category: </label>
      <p-dropdown 
          inputId="product-category"
          [options]="existingCategories" 
          formControlName="category"
          placeholder="Select a Category" 
          [editable]="true" 
          optionLabel="name">
      </p-dropdown>
    </div>

    <div class="flex flex-column gap-2">
      <label for="product-quantity">Quantity: </label>
      <!-- <input pInputText id="product-quantity" type="text" formControlName="quantity" /> -->
      <p-inputNumber 
          formControlName="quantity"
          [style]="{'width': '4rem'}"
          [showButtons]="true" 
          [min]="0"
          buttonLayout="vertical" 
          inputId="product-quantity"
          incrementButtonIcon="pi pi-plus" 
          decrementButtonIcon="pi pi-minus">
      </p-inputNumber>
    </div>

    <div class="flex flex-column gap-2">
      <label for="product-rating">Rating: </label>
      <!-- <input id="product-rating" type="number" min="0" max="5" step="1" formControlName="rating" /> -->
      <p-rating formControlName="rating" inputId="product-rating"></p-rating>
    </div>
  </div>

  <div class="flex justify-content-center">
    <button type="submit" pButton [disabled]="!productForm.valid">Save</button>
  </div>

</form>
